<style>
* {
  box-sizing: border-box;
}

header {
  background-color: black;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: white;
  width: 100%;
  text-shadow: 1px 1px 20px black, 0 0 20px blue, 0 0 5px darkblue;
}

article {
  width: 100vw;
  float: left;
  background-image: url('star.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.one {
  background-image: url('st1.jpg');
  padding: 18px;
  width: 26%;
  text-align: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin:30px;
  text-align: center;
  border: 5px solid black;
  float: left;
  border-radius: 10px;
}


@media only screen and (min-width: 300px) and (max-width: 899px){
  article {
    width: 100vw;
    height: auto;
    font-size: 8vw;
  }
  .one{
    width: 70vw; 
    height: 20vw;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1499px){
  article {
    width: 100vw;
    height: auto;
    font-size: 5vw;
  }
  .one{
    width: 40vw; 
    height: 13vw;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 2000px){
  article {
    width: 100vw;
    height: auto;
    font-size: 3vw;
    text-decoration: none;
  }
  .one{
    width: 25vw; 
    height: 10vw;
  }
}

a:link
{
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited
{
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover
{
  color: white;
  text-decoration: none;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-shadow: 1px 1px 2px black, 0 0 50px blue, 0 0 10px steelblue;
   
}

}
</style>
