
<style>

.one th,td , table
{
  border-collapse: collapse;
  border-spacing: 10px;
  padding:25px;

}
.one td,th
{
  background-image: url('st1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.one th,td
{
  text-align: center;
  color: black;
  font-size: 175%;
}
a:link
{
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited
{
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover
{
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-shadow: 1px 1px 2px black, 0 0 50px blue, 0 0 10px steelblue;
}

.one table
{
   border-spacing:80px;
   padding:30px;
   background-image: url('star.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;

}

.one th,td
{
  border-radius: 10px;
}

.tt
{
  font-size: 300%;
  border: 2px solid black;
  padding: 20px;
  color: white;
  background-color: black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-shadow: 1px 1px 2px black, 0 0 50px blue, 0 0 10px steelblue;

}
</style>
